<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="stylesheet" href="css/style.bundle.css" />
		<title>Політика конфіденційності</title>
	</head>
	<body>
		<div class="cookiesWrapper">
			<div class="mainContent">
				<div class="logo">
					<a href="/"><img src="../../img/logo/logo_uspacy_black.png" alt="uspacy" /></a>
				</div>
				<div class="cookiesHeader">
					<h2>Cookies Policy</h2>
					<div>Last updated: October 17, 2022</div>
				</div>
				<div class="section">
					<h4>INTRODUCTION</h4>
					<p>
						This Cookies Policy (<span class="bold">“Policy”</span>) is established by Uspacy LLC (<span class="bold"
							>“Company”, “Uspacy”, “us”, “we”, “us”, or “our”</span
						>) to inform the users of the processing we carry out in relation to your personal data or the personal data you provide us
						with through the use of cookies.
					</p>
					<p>
						We use cookies on our website https://uspacy.com (<span class="bold">“Website”</span>) for the purposes described in this
						Policy.
					</p>
				</div>
				<div class="section">
					<h5>Cookies by provider</h5>
					<div>
						<p>There are two types of cookies divided in accordance with the category of provider, namely:</p>
						<ul>
							<li>
								<span
									><span class="bold">First-party cookies:</span> cookies that are placed on the Platform by the host of the domain
									the user is visiting which we have put in.</span
								>
							</li>
							<li>
								<span>
									Third-party cookies: cookies that are placed on the Platform by the domains other than the one the user is
									visiting. As a variety of features necessary to ensure the personalised and convenient experience of the user may
									not be delivered by the Company itself, the third-party cookies are used.</span
								>
							</li>
						</ul>
						<p><span class="bold">We use both the first-party and third-party cookies.</span></p>
					</div>
				</div>
				<div class="section">
					<h5>Cookies by period of expiry</h5>
					<div>
						<p>The cookies also vary depending on the period of retention, namely:</p>
						<ul>
							<li>
								<span
									><span class="bold">Session cookies:</span> these are the temporary cookies, which are deleted when you leave the
									Platform.</span
								>
							</li>
							<li>
								<span
									><span class="bold">Persistent cookies:</span> these cookies stay in one of your browser's subfolders until you
									delete them manually or your browser deletes them based on the duration period contained within the persistent
									cookie's file.</span
								>
							</li>
						</ul>
					</div>
				</div>
				<div class="section">
					<h5>Cookies by period of expiry</h5>
					<div>
						<p>The cookies also vary depending on the period of retention, namely:</p>
						<ul>
							<li>
								<span
									><span class="bold">Session cookies:</span> these are the temporary cookies, which are deleted when you leave the
									Platform.</span
								>
							</li>
							<li>
								<span
									><span class="bold">Persistent cookies:</span> these cookies stay in one of your browser's subfolders until you
									delete them manually or your browser deletes them based on the duration period contained within the persistent
									cookie's file.</span
								>
							</li>
						</ul>
					</div>
				</div>
				<div class="section">
					<h4>YOUR CHOICES</h4>
					<div>
						<p>
							You have the right to choose whether to accept the particular cookies or not. However, cookies are an important part of
							how our website works. Please be aware that if you choose to block or delete the particular cookies, some features of our
							website may not function well or may become unavailable.
						</p>
						<p>
							Most web browsers are by default set to accept cookies. However, you can still choose to set your browser to block or
							delete cookies. To modify the settings of your browser, follow the instructions included in the following links:
						</p>
						<ul>
							<li>
								<span><span class="bold">Google Chrome</span> (https://support.google.com/chrome/answer/95647?hl=en);</span>
							</li>
							<li>
								<span><span class="bold">Safari</span> (https://support.apple.com/en-gb/guide/safari/sfri11471/mac);</span>
							</li>
							<li>
								<span><span class="bold">Opera</span> (https://help.opera.com/en/latest/web-preferences/);</span>
							</li>
							<li>
								<span
									><span class="bold">Microsoft Edge</span>
									(https://support.microsoft.com/en-us/windows/delete-and-manage-cookies-168dab11-0753-043d-7c16-ede5947fc64d);</span
								>
							</li>
							<li>
								<span>
									<span class="bold">Mozilla Firefox</span>
									(https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer).
								</span>
							</li>
						</ul>
						<p>
							The list of third party’s cookies providers is not exclusive and it might change from time to time in course with our
							activity.
						</p>
						<p>
							Most web browsers collect fingerprint data according to its own practices and policies. We do not process such data and
							are not responsible for its collection and processing.
						</p>
						<p>
							Also, this Policy provides the list of cookies collected by our contractors by means of the Platform. We do not process
							such cookies. If you have any questions or requests regarding such cookies, you should address them to the respective
							contractor.
						</p>
						<p>
							<span class="bold"
								>Please, bear in mind that this policy DOES NOT cover the cookies provided by the third parties when you follow the
								links to any website other than our Website.</span
							>
						</p>
					</div>
				</div>
				<div class="section">
					<h4>TYPES OF COOKIES, PURPOSES AND RETENTION</h4>
					<div>
						<p>We use four main types of cookies, including those placed by the third-party services that appear on our Website:</p>
						<ul>
							<li>
								<span
									><span class="bold">Necessary:</span> enable users to use the website by providing basic functions, i.e. page
									navigation and access to secure areas of the website. The website cannot function properly without these cookies;
								</span>
							</li>
							<li>
								<span
									><span class="bold">Preferential:</span> enable our website to remember choices that the user makes, i.e. language
									choices;</span
								>
							</li>
							<li>
								<span
									><span class="bold">Statistical:</span> help us to understand how users interact with our website (e.g. page
									visits and page load speed) by collecting information anonymously to avoid your identification.</span
								>
							</li>
							<li>
								<span
									><span class="bold">Marketing:</span> these cookies are used to track the visitor’s interest of a particular
									product, to measure the number of unique visits and recognise returning users and to deliver a targeted
									advertisement to users. These cookies are placed by us and selected third parties and enable adverts to be
									presented to you on third party websites.</span
								>
							</li>
						</ul>
					</div>
				</div>
				<div class="section">
					<h4>LEGAL GROUNDS</h4>
					<p>We use cookies under the article 6 of the GDPR based on the following grounds:</p>
					<p class="indentation">a. consent of the user;</p>
					<p class="indentation">b. legitimate interest of the Company.</p>
					<p><span class="bold">Necessary cookies are always active.</span></p>
					<p>
						<span class="bold"
							>Preferential cookies are disabled by default. In the case of active user activity, preferential cookies may be turned on
							automatically to ensure that the user's request is fulfilled.</span
						>
					</p>
					<p>Other cookies, namely the statistical and marketing cookies, are used only on a basis of the user’s consent.</p>
					<p>The following table sets out the different categories of cookies we use and the purposes for which we use them.</p>

					<div class="tableBlock">
						<div class="titles">
							<div class="name">Cookie name</div>
							<div class="provider">Provider</div>
							<div class="purpose">Purpose</div>
							<div class="retantion">Retention</div>
						</div>
						<div class="row">
							<div class="name">
								<div class="title">Cookie name</div>
								<div>_ga</div>
							</div>
							<div class="provider">
								<div class="title">Provider</div>
								<div>Uspacy.com.ua</div>
							</div>
							<div class="purpose">
								<div class="title">Purpose</div>
								<div>Registers a unique ID that is used to generate statistical data on how the user exploits the website.</div>
							</div>
							<div class="retantion">
								<div class="title">Retention</div>
								<div>2 years</div>
							</div>
						</div>
						<div class="row">
							<div class="name">
								<div class="title">Cookie name</div>
								<div>_ga_#</div>
							</div>
							<div class="provider">
								<div class="title">Provider</div>
								<div>Uspacy.com.ua</div>
							</div>
							<div class="purpose">
								<div class="title">Purpose</div>
								<div>
									Used by Google Analytics to collect data on the number of times a user has visited the website as well as dates
									for the first and most recent visit.
								</div>
							</div>
							<div class="retantion">
								<div class="title">Retention</div>
								<div>2 years</div>
							</div>
						</div>
					</div>

					<p>
						This Cookies Policy is part of our Privacy Policy. Please contact us if you have any questions about our use of cookies, this
						Cookies Policy, or your rights. If you have a question related to this Cookies Policy, our processing activities, or your data
						subject rights under GDPR and other applicable laws, you can contact us by email
						<a href="mailto:info@uspacy.com" class="mailLink">info@uspacy.com</a>.
					</p>
				</div>

				<div class="firstKnow container">
					<div class="leftBlock">
						<div class="h2">Хочете першим дізнатися про запуск Uspacy?</div>
						<p>
							Просто залиште свою адресу електронної пошти! Ми будемо використовувати її лише для інформування вас про новини Uspacy та
							дату його запуску.
						</p>
					</div>
					<div class="rightBlock">
						<form class="form" action="">
							<div class="checkBox">
								<input type="checkbox" id="consent" />
								<label for="consent" class="label">
									<span>Даю згоду на обробку персональних даних згідно політики конфіденційності.</span>
								</label>
							</div>
							<button type="submit" class="btnSubmit">Повідомте мене про запуск</button>
							<div><input type="text" name="email" placeholder="ваш email" class="email" /></div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<%= _.template(require('../includes/footer.html').default)() %>
		<script src="js/bundle.js"></script>
	</body>
</html>
