<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta
			name="description"
			content="Uspacy — це єдиний робочій простір для організації щоденних процесів компанії: спілкування в команді, спільна робота, завдання, CRM"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="uspacy" />
		<meta property="og:image" content="../../img/Uspacy logo/logo_uspacy_black.jpg" />
		<link rel="icon" type="image/svg+xml" href="img/favicon.svg" />
		<link rel="icon" href="img/favicon-16x16.ico" />
		<link rel="icon" href="img/favicon-32x32.ico" />
		<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png" />
		<link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png" />
		<link rel="icon" type="image/png" sizes="192x192" href="img/android-icon-192x192.png" />

		<link rel="stylesheet" href="css/style.bundle.css" />

		<script async src="https://www.googletagmanager.com/gtag/js?id=G-GFFF5KLT4T"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				// eslint-disable-next-line prefer-rest-params
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'G-GFFF5KLT4T');
		</script>
		<title>Uspacy — єдиний робочий простір для організації щоденних процесів компанії</title>
	</head>
	<body>
		<%= _.template(require('../includes/header.html').default)(data) %> <%=_.template(require('../includes/main.html').default)() %> <%=
		_.template(require('../includes/footer.html').default)() %>
		<script src="js/bundle.js"></script>
	</body>
</html>
