<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="stylesheet" href="css/style.bundle.css" />
		<title>Політика конфіденційності</title>
	</head>
	<body>
		<div class="politicWrapper">
			<div class="mainContent">
				<div class="logo"><img src="../../img/logo/logo_uspacy_black.png" alt="uspacy" /></div>
				<div class="politicHeader">
					<h2>Політика конфіденційності</h2>
					<div>Дата набрання чинності: 17 жовтня 2022 р.</div>
				</div>
				<div>
					<p>
						Товариство з обмеженою відповідальність «Юспейсі» («ми», «нас» або «наш»), з місцезнаходженням за адресою: 01001, м. Київ,
						Шевченківський р-н, вул. Велика Житомирська, будинок 21, офіс 3, поважає прагнення кожної особи до приватності. Викладена
						нижче Політика конфіденційності проінформує щодо основних питань щодо захисту та обробки ваших персональних даних.
					</p>
					<div>
						<h4>1. На кого розповсюджується ця Політика?</h4>
						<p>Ця Політика розповсюджується на всіх фізичних осіб, які залишили свою електронну адресу на веб-сайті uspacy.com.ua.</p>
						<p>
							Наш веб-сайт НЕ призначений для дітей віком до 18 років, ми свідомо не збираємо Персональні дані дітей віком до 18 років
							без згоди батьків. Якщо вам не виповнилося 18 років, просимо не залишати свою електронну адресу.
						</p>
					</div>
					<div>
						<h4>2. Яку інформацію ми збираємо?</h4>
						<p>Ми збираємо дані у вигляді адреси вашої електронної пошти.</p>
						<p>
							Ми збираємо дані у вигляді адреси вашої електронної пошти. Коли ви відвідуєте наш веб-сайт, ми збираємо інформацію, яку
							надають веб-переглядачі, мобільні пристрої та сервери, таку як адреса інтернет-протоколу, тип браузера, мовні параметри,
							часовий пояс, URL-адреса посилання, дата та час доступу, операційної системи, виробника мобільного пристрою та інформації
							про мобільну мережу. Ми включаємо їх у наші файли журналу, щоб більше зрозуміти відвідувачів нашого веб-сайту.
						</p>
						<p>
							За допомогою системи Google Analytics ми збираємо статистику про відвідування веб-сайту, таку як сторінки, що
							відвідуються, кількість переглядів сторінок, інформацію, яка була завантажена, домени інтернет-провайдерів та країни
							походження відвідувачів, а також адреси веб-сайтів, що були відвідані до та після веб-сайту, тощо. Жодна з цих дій не
							пов’язана з відвідувачем особисто та вимірюється тільки у сукупності.
						</p>
						<p>Саме ми (ТОВ «Юспейсі») є володільцем та розпорядником вказаних вище персональних даних.</p>
					</div>
					<div>
						<h4>3. Чи використовуємо ми Кукі (cookie)?</h4>
						<p>
							В процесі роботи веб-сайту ми можемо збирати певну інформацію за допомогою таких технологій як кукі (cookie). За допомогою
							кукі (cookie), веб-сервер зберігає вподобання та налаштування на вашому комп'ютері, мобільному телефоні або іншому
							пристрої(ях), які потім автоматично відновлюються при наступному відвідуванні веб-сайту, що робить його використання більш
							зручним. Ми використовуємо як постійні, так і сесійні кукі. Постійні кукі залишаються на комп'ютері користувача протягом
							більш тривалого періоду часу, а сесійні кукі автоматично видаляться при закритті вікна браузера.
						</p>
					</div>
					<div>
						<h4>4. Навіщо ми збираємо цю інформацію?</h4>
						<div>
							<p>Надані вами персональні дані будуть використані:</p>
							<ul>
								<li>
									для відправки сповіщень / повідомлень, в тому числі рекламного характеру, щодо програмних продуктів, які ми
									розробляємо, та спеціальних пропозицій та новин щодо них;
								</li>
								<li>отримання відповідей на наші запитання та відповідей на ваші питання та запити;</li>
								<li>
									проведення статистичних та інших досліджень на основі знеособлених даних (у т.ч. для з'ясування думки користувачів
									про наші програмні продукти).
								</li>
								<li>
									для моніторингу використання нашого веб-сайту, у тому числі контролю загальної та індивідуальної активності для
									управління трафіком на веб-сайті.
								</li>
							</ul>
						</div>
					</div>
					<div>
						<h4>5. Як ми зберігаємо та обробляємо цю інформацію?</h4>
						<p>Вся отримана інформація буде зберігатися та оброблятися у нашій внутрішній CRM-системі.</p>
						<p>
							Ми зберігаємо ваші дані до тих пір, поки це необхідно для цілей, зазначених у цій Політиці конфіденційності. Іноді ми
							можемо зберігати ваші дані протягом більш тривалого періоду, як це дозволено або вимагається законом.
						</p>
					</div>
					<div>
						<h4>6. Яким третім особам ми надаємо дані?</h4>
						<p>
							Ми співпрацюємо зі сторонніми постачальниками послуг, які надають нам послуги, пов'язані з обслуговуванням веб-сайту,
							розробкою застосунків, хостингу, технічним обслуговуванням та інші послуги. Ці треті сторони можуть мати доступ або
							обробляти ваші дані в рамках надання нам цих послуг. Ми обмежуємо інформацію, надану цим постачальникам послуг, тією, яка
							є обґрунтовано необхідною для виконання своїх функцій, і умови нашої співпраці з ними вимагають від них зберігати
							конфіденційність такої інформації.
						</p>
						<div>
							<p>Ми також можемо розкривати та / або передавати персональні дані третім особам у наступних випадках:</p>
							<ul>
								<li>Отримання вашої згоди на таке розкриття / передачу;</li>
								<li>
									Для здійснення правосуддя, виконання судового акта, акта іншого органу або посадової особи, що підлягають
									виконанню відповідно до законодавства України про виконавче провадження або інших передбачених чинним
									законодавством України випадках;
								</li>
								<li>Для захисту прав і законних інтересів ТОВ «Юспейсі» або третіх осіб.</li>
							</ul>
						</div>
					</div>
					<div>
						<h4>7. Ваші права</h4>
						<div>
							<p>Як суб'єкту персональних даних вам належать наступні права:</p>
							<ul>
								<li>знати про джерела збирання, місцезнаходження своїх персональних даних;</li>
								<li>
									знати про джерела збирання, місцезнаходження своїх персональних даних, мету їх обробки, місцезнаходження або місце
									проживання (перебування) володільця чи розпорядника персональних даних або дати відповідне доручення щодо
									отримання цієї інформації уповноваженим ним особам, крім випадків, встановлених законом;
								</li>
								<li>
									отримувати інформацію про умови надання доступу до персональних даних, зокрема інформацію про третіх осіб, яким
									передаються його персональні дані;
								</li>
								<li>на доступ до своїх персональних даних;</li>
								<li>
									отримувати не пізніш як за тридцять календарних днів з дня надходження запиту, крім випадків, передбачених
									законом, відповідь про те, чи обробляються його персональні дані, а також отримувати зміст таких персональних
									даних;
								</li>
								<li>
									пред’являти вмотивовану вимогу володільцю персональних даних із запереченням проти обробки своїх персональних
									даних;
								</li>
								<li>
									пред'являти вмотивовану вимогу щодо зміни або знищення своїх персональних даних будь-яким володільцем та
									розпорядником персональних даних, якщо ці дані обробляються незаконно чи є недостовірними;
								</li>
								<li>
									на захист своїх персональних даних від незаконної обробки та випадкової втрати, знищення, пошкодження у зв'язку з
									умисним приховуванням, ненаданням чи несвоєчасним їх наданням, а також на захист від надання відомостей, що є
									недостовірними чи ганьблять честь, гідність та ділову репутацію фізичної особи;
								</li>
								<li>звертатися із скаргами на обробку своїх персональних даних до Уповноваженого або до суду;</li>
								<li>застосовувати засоби правового захисту в разі порушення законодавства про захист персональних даних;</li>
								<li>вносити застереження стосовно обмеження права на обробку своїх персональних даних під час надання згоди;</li>
								<li>відкликати згоду на обробку персональних даних;</li>
								<li>знати механізм автоматичної обробки персональних даних;</li>
								<li>на захист від автоматизованого рішення, яке має для Вас правові наслідки;</li>
								<li>на виправлення ваших персональних даних та внесення доповнень до них;</li>
							</ul>
							<p>
								Для отримання доступу, внесення змін або доповнень до своїх персональних даних, відкликання згоди на обробку
								персональних даних, яку ви нам надали відповідно до цієї Політики, або в разі наявності будь-яких зауважень, побажань
								або претензій щодо ваших персональних даних, які обробляються нами, будь-ласка, звертайтеся за електронною адресою:
								uspacy.office@gmail.com.
							</p>
						</div>
					</div>
					<div>
						<h4>8. Згода на розсилку повідомлень</h4>
						<p>
							Приймаючи умови цієї Політики, ви автоматично погоджуєтесь на отримання від нас повідомлень, які можуть містити пропозиції
							та рекомендації щодо наших програмних продуктів.
						</p>
					</div>
					<div>
						<h4>9. Зміни щодо Політики конфіденційності</h4>
						<p>
							Ми повідомимо вас про будь-які зміни, опублікувавши нову Політику конфіденційності на цій сторінці. Ми повідомимо вас
							електронною поштою та/або помітним повідомленням на нашому Сервісі, перш ніж зміни набудуть чинності, і оновимо «дату
							набрання чинності» у верхній частині цієї Політики конфіденційності.
						</p>
						<p>
							Рекомендуємо періодично переглядати цю Політику конфіденційності на предмет будь-яких змін. Зміни до цієї Політики
							конфіденційності вступають в силу з моменту їх розміщення на цій сторінці.
						</p>
					</div>
				</div>

				<div class="firstKnow container">
					<div class="leftBlock">
						<div class="h2">Хочете першим дізнатися про запуск Uspacy?</div>
						<p>
							Просто залиште свою адресу електронної пошти! Ми будемо використовувати її лише для інформування вас про новини Uspacy та
							дату його запуску.
						</p>
					</div>
					<div class="rightBlock">
						<form class="form" action="">
							<div class="checkBox">
								<input type="checkbox" id="consent" />
								<label for="consent" class="label">
									<span>Даю згоду на обробку персональних даних згідно політики конфіденційності.</span>
								</label>
							</div>
							<button type="submit" class="btnSubmit">Повідомте мене про запуск</button>
							<div><input type="text" name="email" placeholder="ваш email" class="email" /></div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<%= _.template(require('../includes/footer.html').default)() %>
		<script src="js/bundle.js"></script>
	</body>
</html>
