$font-stack: -apple-system, 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;

.wrapper404 {
	margin: 0 auto;
	padding-top: 40px;
	line-height: 165%;
	font-family: e-Ukraine, $font-stack;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../img/bg404.png');

	.logoText {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.logo {
		padding-right: 66px;
	}

	.createText {
		font-style: normal;
		font-weight: 500;
		font-size: 11px;
		line-height: 120%;
		color: $color-black;
	}

	.createText::after {
		content: '';
		display: inline-block;
		width: 16px;
		height: 16px;
		background-image: url('../img/flag.png');
		position: relative;
		top: -8px;
		right: -4px;
		@media (max-width: 490px) {
			top: 0;
		}
	}

	.content {
		min-height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.digits {
			font-weight: 500;
			font-size: 120px;
			line-height: 120%;
			// eslint-disable-next-line
			color: rgba(255, 255, 255, 0.2);
		}

		div:last-child {
			font-weight: 500;
			font-size: 18px;
			line-height: 130%;
			margin-top: 16px;
			max-width: 545px;
			text-align: center;
		}
	}

	.firstKnow {
		margin-top: 140px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		@media (max-width: $small) {
			flex-direction: column;
			align-items: center;
		}

		.leftBlock {
			width: 47%;

			@media (max-width: $small) {
				width: 100%;
			}

			.h2 {
				font-weight: 700;
				font-size: 24px;
				line-height: 150%;
			}
		}

		.rightBlock {
			width: 43%;

			@media (max-width: $small) {
				width: 100%;
			}

			.form {
				@include flex;

				flex-direction: column-reverse;

				.email,
				.btnSubmit {
					width: 310px;
					height: 64px;
					border-radius: 100px;
					border: none;
					outline: none;
				}

				.email {
					background: $color-grey25;
					text-align: center;
					font-size: 12px;
					color: $color-black;
				}

				.btnSubmit {
					background: $bg-gradient-cian;
					color: $color-white;
					margin-top: 12px;
					font-weight: 500;
					cursor: pointer;
				}
			}

			.checkBox {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				margin-top: 17px;
			}

			#consent {
				opacity: 0;
			}

			.checkBox label::before {
				content: '\2713';
				font-size: 18px;
				text-align: center;
				color: white;
				display: block;
				width: 1.8em;
				height: 1em;
				margin-right: 11px;
				border: 2px solid $color-grey;
				border-radius: 4px;
				line-height: 90%;

				@media (max-width: $small) {
					width: 1em;
				}
				@media (max-width: $xsmall) {
					width: 1.6em;
				}
			}

			#consent:checked ~ label::before {
				color: $color-black;
			}

			.label {
				display: flex;
				justify-content: space-between;

				span {
					display: inline-block;
					font-size: 12px;
					line-height: 165%;
				}
			}
		}
	}
}
