@import './var.scss';

.header {
	box-sizing: content-box;
	width: 100%;
	padding-top: 37px;
	background-image: url('../img/main_background.png');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 860px;

	@media (max-width: $small) {
		background-image: url('../img/uspacy_mobl_bg1.png');
		background-size: 100% 100%;
	}

	.headerContent {
		height: 100%;
		min-height: 860px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}

	.logoText {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		@media (max-width: $xsmall) {
			flex-direction: column;
			width: 100%;
		}
	}

	.logo {
		padding-right: 66px;

		@media (max-width: $xsmall) {
			left: 20px;
			z-index: 100;
			padding-right: 0;
			width: 100%;
		}
	}

	.createText {
		font-style: normal;
		font-weight: 500;
		font-size: 11px;
		line-height: 120%;
		color: $color-white;

		@media (max-width: $xsmall) {
			text-align: right;
			width: 100%;
			margin-top: 30px;
		}
	}

	.createText::after {
		content: '';
		display: inline-block;
		width: 16px;
		height: 16px;
		background-image: url('../img/flag.png');
		position: relative;
		top: -8px;
		right: -4px;
		@media (max-width: 490px) {
			top: 0;
		}
	}

	.effectiveText {
		color: $color-white;

		h2 {
			font-weight: 700;
			font-size: 45px;
			line-height: 110%;
			@media (max-width: $small) {
				padding-top: 350px;
				font-size: 30px;
			}
		}

		.smallerText {
			margin-top: 15px;
			font-weight: 500;
			font-size: 18px;
			line-height: 130%;
			max-width: 334px;
			@media (max-width: $small) {
				span {
					color: $color-white;
				}
			}
		}

		.btnNotify {
			@include notifyMe;
		}
	}

	.headerLastText {
		max-width: 369px;
		@include fw400;
	}
}
