@import './var.scss';

.header {
	box-sizing: content-box;
	width: 100%;
	padding-top: 37px;
	background-image: url('../img/main_background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 860px;
	@media (max-width: 648px) {
		background-position: top;
	}

	.headerContent {
		height: 100%;
		min-height: 860px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}

	.logoText {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.logo {
		padding-right: 66px;
	}

	.createText {
		font-style: normal;
		font-weight: 500;
		font-size: 11px;
		line-height: 120%;
		color: $color-white;
	}

	.createText::after {
		content: '';
		display: inline-block;
		width: 16px;
		height: 16px;
		background-image: url('../img/flag.png');
		position: relative;
		top: -8px;
		right: -4px;
		@media (max-width: 490px) {
			top: 0;
		}
	}

	.effectiveText {
		color: $color-white;

		h2 {
			font-weight: 700;
			font-size: 45px;
			line-height: 110%;
		}

		.smallerText {
			margin-top: 15px;
			font-weight: 500;
			font-size: 18px;
			line-height: 130%;
			max-width: 334px;
		}

		.btnNotify {
			@include notifyMe;
		}
	}

	.headerLastText {
		max-width: 369px;
		@include fw400;
	}
}
