.mainContent {
	margin-top: 20px;
	font-family: e-Ukraine;

	.textBlock {
		display: grid;
		grid-template-areas:
			'left right'
			'bottomLeft  bottomRight';
		grid-column-gap: 22px;

		@include fw400;

		font-weight: 400;
		font-size: 14px;
		line-height: 165%;

		@media (max-width: 800px) {
			grid-column-gap: 0;
		}

		@media screen and (max-width: $xsmall) {
			grid-template-columns: 1fr;
			grid-template-areas:
				'left left'
				'bottomRight bottomRight';
			grid-row-gap: 60px;
		}
	}

	.textOne {
		grid-area: left;
		width: 377px;
		font-weight: 400;
		font-size: 14px;
		line-height: 165%;

		@media (max-width: $small) {
			width: 262px;
			font-size: 12px;
		}

		span {
			font-weight: 700;
		}

		.borderDotted {
			padding: 2px 8px 4px;
			border: 1.5px dashed $color-magenta;
			border-radius: 20px;
		}
	}

	.textTwo {
		grid-area: bottomRight;
		width: 397px;
		font-weight: 500;
		font-size: 22px;
		line-height: 150%;
		color: $color-magenta;

		.dash24 {
			transform: translateY(-4px);
		}

		.dash40 {
			transform: translateY(-5px);
			display: none;
		}

		@media screen and (min-width: $small) {
			position: relative;
			top: -20px;

			.dash24 {
				display: none;
			}

			.dash40 {
				display: initial;
			}
		}

		@media (max-width: 840px) {
			width: 272px;
			font-weight: 700;
			font-size: 16px;
			line-height: 150%;
		}
	}

	.infoBlockWrapper {
		position: relative;
		overflow-x: hidden;
		width: 100%;
	}

	.runStrBlock {
		position: absolute;
		top: 135px;
		width: 130%;
		height: 33px;
		transform: rotate(-1.3deg);
		background: $color-white;
		font-weight: 700;
		font-size: 10px;
		line-height: 150%;

		@media (max-width: $small) {
			transform: rotate(-4.53deg);
			top: 60%;
		}

		p {
			text-align: center;
			color: $color-black;
			text-transform: uppercase;
			padding-top: 9px;
			white-space: nowrap;
			animation: str-run 43s infinite linear;

			@media (max-width: $small) {
				animation: str-run 28s infinite linear;
			}
		}

		.blueCircle {
			display: inline-block;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $color-magenta;
			margin: 0 8px;
			position: relative;
			bottom: 2px;
		}

		@keyframes str-run {
			0% {
				transform: translate(0, 0);
			}

			100% {
				transform: translate(-130%, 0);
			}
		}
	}

	.infoBlock {
		max-width: 988px;
		margin: 0 auto;
		margin-top: 95px;
		padding: 120px 24px 50px;
		background: $bg-gradient-blue;
		border-radius: 16px;

		.infoBlockContent {
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: $color-white;

			@media (max-width: $msmall) {
				flex-direction: column;
				justify-content: flex-end;
				align-items: center;
			}

			@media (max-width: $width440) {
				width: 80%;
			}

			@media (max-width: 330px) {
				transform: translateX(-3px);
			}
		}

		@media (max-width: $small) {
			width: 90%;
			min-height: 705px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			border-radius: 0;
			background: url('../img/bgJpg/uspacy_mobl_bg2.jpg') top no-repeat;
			background-size: cover;
			background-position: center;
		}

		@media (max-width: $width440) {
			width: 86%;
		}

		.text {
			width: 384px;
			font-weight: 400;
			font-size: 14px;
			line-height: 160%;

			@media (max-width: $small) {
				width: 272px;
				margin-bottom: 30px;
			}
		}
	}

	.btnNotify {
		@include notifyMe;

		cursor: pointer;

		a {
			display: flex;
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: center;
		}

		@media (max-width: $small) {
			width: 272px;
			height: 54px;
			font-size: 12px;
		}
	}

	.btnNotify:hover {
		background-color: $color-white;
	}

	.btnNotify:hover .link {
		color: $color-magenta;
	}

	.menu {
		.menuList {
			box-sizing: border-box;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;
			border-bottom: 2px solid $color-grey50;
			padding: 0;
			margin-top: 132px;
		}

		a {
			max-width: 150px;
			display: inline-block;
			font-weight: 400;
			font-size: 14px;
			line-height: 120%;
			color: $color-black;
			text-decoration: none;
			height: 60px;
			position: relative;
			bottom: -2px;
		}

		a:not(:last-child) {
			margin-right: 15px;
		}

		a.active {
			font-weight: 700;
			border-bottom: 4px solid $color-black;
		}

		@media (max-width: $small) {
			a: {
				height: 35px;
			}

			a:not(.active) {
				visibility: hidden;
				opacity: 0;
				position: absolute;
			}
		}

		.arrows {
			visibility: hidden;
			height: 50px;
			position: absolute;
			@include flex;

			font-weight: 700;
			font-size: 12px;
			line-height: 150%;

			@media (max-width: $small) {
				visibility: visible;
				position: static;
			}

			.leftArrow {
				padding: 12px 12px 12px 0;
				cursor: pointer;
			}

			.rightArrow {
				padding: 12px 0 12px 12px;
				cursor: pointer;
			}

			.leftArrow.jsDisable,
			.rightArrow.jsDisable {
				opacity: 0;
				display: none;
			}

			.indexDigit {
				padding-right: 4px;
			}

			.slash {
				opacity: 0.4;
			}

			.totalCount {
				opacity: 0.4;
				padding-left: 4px;
			}
		}
	}

	.menuContent {
		margin-top: 40px;
	}

	.contentItem {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		line-height: 165%;
		min-height: 400px;
		transition: opacity 0.6s ease-in-out;

		@media (max-width: $small) {
			width: 96%;
			justify-content: flex-start;
			min-height: 350px;
		}

		@media (max-width: $xsmall) {
			min-height: 420px;
		}

		div {
			width: 40%;
			font-weight: 500;
		}

		ul {
			width: 47%;
			font-weight: 400;
		}

		li span {
			display: block;
			padding-left: 12px;
			color: $color-black;
			line-height: 165%;
		}

		@media (max-width: $small) {
			flex-direction: column;
			line-height: 160%;

			ul {
				margin-top: 12px;
				width: 100%;
				font-size: 11px;
				padding-left: 12px;
			}

			div {
				width: 250px;
				font-size: 12px;
				margin-bottom: 12px;
			}
		}
	}

	.contentItem:not(.active) {
		width: 90%;
		visibility: hidden;
		opacity: 0;
		position: absolute;
	}

	.contentItem li {
		color: $color-magenta;
		list-style-image: url('../img/blueEllipse.png');
	}

	.contentItem li:not(:last-child) {
		margin-bottom: 8px;
	}

	.desire {
		display: flex;
		flex-direction: column;

		@media (max-width: $small) {
			flex-direction: column-reverse;
		}
	}

	.firstKnow {
		margin-top: 140px;
		padding: 0 24px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		@media (max-width: $small) {
			flex-direction: column;
			align-items: center;
			margin-bottom: 47px;
		}

		.leftBlock {
			width: 47%;

			p {
				margin-top: 24px;
				margin-bottom: 28px;
				width: 356px;
				font-weight: 400;
				font-size: 14px;
				line-height: 165%;
			}

			.h2 {
				font-weight: 700;
				font-size: 24px;
				line-height: 150%;
			}

			@media (max-width: $small) {
				width: 100%;

				.h2 {
					font-size: 16px;
					width: 264px;
				}

				p {
					font-size: 12px;
					width: 271px;
					line-height: 160%;
				}
			}
		}

		.rightBlock {
			width: 43%;
			position: relative;

			@media (max-width: $small) {
				width: 100%;
			}

			.checkBox {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				margin-top: 17px;
			}

			.containerbox {
				display: block;
				position: relative;
				padding-left: 35px;
				margin-bottom: 12px;
				cursor: pointer;
				// -webkit-user-select: none;
				// -moz-user-select: none;
				// -ms-user-select: none;
				user-select: none;
				margin-top: 18px;
			}

			/* Hide the browser's default checkbox */
			.containerbox input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
				height: 0;
				width: 0;
			}

			/* Create a custom checkbox */
			.checkmark {
				position: absolute;
				top: 0;
				left: 0;
				height: 20px;
				width: 20px;
				background-color: none;
				border: 2px solid $color-grey;
				border-radius: 4px;
				box-sizing: border-box;
			}

			/* On mouse-over, add a grey background color */
			.containerbox:hover input ~ .checkmark {
				background-color: rgba(66, 56, 229, 0.1);
			}

			/* Style the checkmark/indicator */
			.containerbox .checkmark::after {
				content: '';
				position: absolute;
				display: none;
				left: 4px;
				top: 1px;
				width: 5px;
				height: 9px;
				border: solid $color-black;
				border-width: 0 3px 3px 0;
				// -webkit-transform: rotate(45deg);
				// -ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}

			/* Show the checkmark when checked */
			.containerbox input:checked ~ .checkmark::after {
				display: block;
			}

			.accept {
				display: inline-block;
				font-size: 12px;
				line-height: 165%;
				width: 295px;

				@media (max-width: $small) {
					font-size: 10px;
					line-height: 150%;
					width: 250px;
				}
			}

			#consent.error:not(:checked) ~ .checkmark {
				border: 2px solid $color-cian;
			}

			.form {
				position: absolute;
				width: 100%;
				@include flex;

				flex-direction: column-reverse;

				.email,
				.btnSubmit {
					width: 310px;
					height: 64px;
					border-radius: 100px;
					border: none;
					outline: none;
				}

				.btnSubmit {
					background: $bg-gradient-cian;
					color: $color-white;
					margin-top: 12px;
					font-weight: 500;
					font-size: 14px;
					cursor: pointer;

					@media (max-width: $small) {
						width: 272px;
						height: 54px;
						font-size: 12px;
					}
				}

				.btnSubmit:disabled {
					color: $color-grey50;
				}

				.btnSubmit:hover:not(:disabled) {
					background: $bg-gradien-ciant-hover50, $bg-gradien-ciant-hover95;
				}

				.email {
					background: $color-grey25;
					text-align: center;
					font-size: 12px;
					font-weight: 400;
					color: $color-black;

					@media (max-width: $small) {
						width: 272px;
						height: 54px;
					}
				}

				.email.blurSucces {
					color: $color-magenta !important;
				}

				.email:hover {
					background: $color-magenta10;
				}

				.email::placeholder {
					color: $color-black;
				}

				input:-webkit-autofill,
				input:-webkit-autofill:hover,
				input:-webkit-autofill:focus {
					-webkit-text-fill-color: $color-black;
					box-shadow: 0 0 0 0 $color-grey25 inset;
					transition: background-color 5000s ease-in-out 0s;
				}

				.emailError {
					border: 1px solid $color-cian;
				}
			}

			.form.unvisible {
				visibility: hidden;
				opacity: 0;
			}

			.successWindow {
				display: flex;
				flex-direction: column;
				align-items: center;

				.successIcon {
					font-size: 24px;
				}
			}

			.successWindow.unvisible {
				visibility: hidden;
				opacity: 0;
			}

			.infoHeader {
				font-weight: 700;
				margin: 14px 0 20px;
			}

			.infoSoon {
				max-width: 270px;
				text-align: center;
				line-height: 23.1px;

				@media (max-width: $small) {
					font-size: 12px;
				}
			}
		}

		.privacyPolitikLink {
			color: $color-black;
			text-decoration: underline;
		}
	}

	.developBusnies {
		width: 100%;
		max-width: 988px;
		margin: 0 auto;
		margin-top: 90px;
		padding: 42px 0 50px;
		background: $bg-gradient-purple;
		border-radius: 16px;

		.developBusniesContent {
			display: flex;
			justify-content: space-between;
			align-items: center;
			line-height: 165%;
			color: $color-white;

			@media (max-width: $msmall) {
				flex-direction: column;
				justify-content: flex-end;
				align-items: center;
			}

			@media (max-width: $width440) {
				width: 80%;
			}

			@media (max-width: 330px) {
				transform: translateX(-3px);
			}
		}

		h4 {
			font-weight: 700;
			font-size: 14px;
			line-height: 165%;
			width: 375px;
		}

		.text {
			width: 350px;
			font-weight: 400;
			font-size: 14px;
			line-height: 165%;
		}

		@media (max-width: $small) {
			width: 90%;
			padding-left: 24px;
			padding-right: 24px;
			min-height: 705px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			border-radius: 0;
			background: url('../img/bgJpg/uspacy_mobl_bg_3.jpg') top no-repeat;
			background-size: cover;
			background-position: center;

			h4 {
				font-size: 16px;
				width: 282px;
			}

			.text {
				font-size: 12px;
				width: 272px;
			}
		}

		@media (max-width: $width440) {
			width: 86%;
		}

		.partnerProgramm {
			cursor: pointer;
			font-size: 12px;
			font-weight: 400;
			min-width: 30%;

			.link {
				display: inline-block;
				max-width: 185px;
				color: $color-white;

				@media (min-width: $small) {
					text-decoration: underline;
				}
			}

			svg path {
				fill: $color-white;
			}

			@media (max-width: $small) {
				box-sizing: border-box;
				width: 272px;
				height: 54px;
				font-size: 12px;
				font-weight: 500;
				text-align: center;
				border: 2px solid $color-white;
				border-radius: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-left: 30px;

				a.link {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 100%;
				}

				&:hover {
					background-color: $color-white;

					a {
						color: $color-word-grey25;
					}
				}

				svg {
					display: none;
				}
			}

			@media (max-width: $msmall) {
				margin-left: 0;
			}
		}
	}
}
