.mainContent {
	margin-top: 20px;
	font-family: e-Ukraine;

	.textBlock {
		display: grid;
		grid-template-areas:
			'left right'
			'bottomLeft  bottomRight';
		grid-column-gap: 42px;
		@include fw400;

		font-weight: 400;
		font-size: 14px;
		line-height: 165%;

		@media screen and (max-width: $small) {
			grid-template-columns: 1fr;
			grid-template-areas:
				'left left'
				'bottomRight bottomRight';
			grid-row-gap: 60px;
		}
	}

	.textOne {
		grid-area: left;

		@media (max-width: $small) {
			font-size: 12px;
		}

		span {
			font-weight: 700;
		}

		.borderDotted {
			padding: 2px 8px 4px;
			border: 1.5px dashed $color-magenta;
			border-radius: 20px;
		}
	}

	.textTwo {
		grid-area: bottomRight;
		font-weight: 500;
		font-size: 22px;
		line-height: 150%;
		color: $color-magenta;

		@media screen and (min-width: $small) {
			position: relative;
			top: -20px;
		}

		@media (max-width: $small) {
			font-size: 16px;
			line-height: 24px;
		}
	}

	.infoBlockWrapper {
		position: relative;
		overflow-x: hidden;
	}

	.runStrGif {
		position: absolute;
		top: 135px;
		transform: rotate(-1.3deg);

		@media (max-width: $small) {
			transform: rotate(-4.53deg);
			top: 60%;
		}
	}

	.infoBlock {
		max-width: 988px;
		margin: 0 auto;
		margin-top: 95px;
		padding: 120px 24px 50px;
		color: $color-white;
		background: $bg-gradient-blue;
		border-radius: 16px;
		display: flex;
		justify-content: space-around;
		align-items: center;

		@media (max-width: $small) {
			width: 90%;
			min-height: 705px;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			border-radius: 0;
			background: url('../img/uspacy_mobl_bg2.png') top no-repeat;
			background-size: cover;
			background-position: center;
		}

		.text {
			max-width: 384px;
			font-weight: 400;
			font-size: 14px;
			line-height: 160%;

			@media (max-width: $media) {
				width: 272px;
				margin-bottom: 30px;
			}
		}
	}

	.btnNotify {
		@include notifyMe;

		cursor: pointer;

		a {
			display: flex;
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: center;
		}

		@media (max-width: $small) {
			width: 272px;
			height: 54px;
			font-size: 12px;
		}
	}

	.btnNotify:hover {
		background-color: $color-white;
	}

	.btnNotify:hover .link {
		color: $color-magenta;
	}

	.menu {
		.menuList {
			box-sizing: border-box;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;
			border-bottom: 2px solid $color-grey50;
			padding: 0;
			margin-top: 132px;
		}

		a {
			max-width: 150px;
			display: inline-block;
			font-weight: 400;
			font-size: 14px;
			line-height: 120%;
			color: $color-black;
			text-decoration: none;
			height: 60px;
			position: relative;
			bottom: -2px;
		}

		a:not(:last-child) {
			margin-right: 15px;
		}

		a.active {
			font-weight: 700;
			border-bottom: 4px solid $color-black;
		}

		a:hover {
			font-weight: 700;
		}

		@media (max-width: $small) {
			a: {
				height: 35px;
			}

			a:not(.active) {
				visibility: hidden;
				opacity: 0;
				position: absolute;
			}
		}

		.arrows {
			visibility: hidden;
			height: 50px;
			position: absolute;
			@include flex;

			font-weight: 700;
			font-size: 12px;
			line-height: 150%;

			@media (max-width: $small) {
				visibility: visible;
				position: static;
			}

			.leftArrow {
				display: inline-block;
				transform: rotate(180deg);
			}

			.leftArrow,
			.rightArrow {
				padding: 12px;
				cursor: pointer;
			}

			.leftArrow.jsDisable,
			.rightArrow.jsDisable {
				opacity: 0;
				display: none;
			}

			.indexDigit {
				padding-right: 4px;
			}

			.slash {
				opacity: 0.4;
			}

			.totalCount {
				opacity: 0.4;
				padding-left: 4px;
			}
		}
	}

	.menuContent {
		margin-top: 40px;
	}

	.contentItem {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		line-height: 165%;
		min-height: 330px;
		transition: opacity 0.6s ease-in-out;

		@media (max-width: $small) {
			justify-content: flex-start;
		}

		@media (max-width: $xsmall) {
			min-height: 420px;
		}

		div {
			width: 40%;
			font-weight: 500;
		}

		ul {
			width: 47%;
			font-weight: 400;
		}

		li span {
			display: block;
			padding-left: 12px;
			color: $color-black;
			line-height: 165%;
		}

		@media (max-width: $small) {
			flex-direction: column;
			line-height: 160%;

			ul {
				margin-top: 12px;
				width: 100%;
				font-size: 11px;
				padding-left: 12px;
			}

			div {
				width: 100%;
				font-size: 12px;
			}
		}
	}

	.contentItem:not(.active) {
		visibility: hidden;
		opacity: 0;
		position: absolute;
	}

	.contentItem li {
		color: $color-magenta;
		list-style-image: url('../img/blueEllipse.png');
	}

	.contentItem li:not(:last-child) {
		margin-bottom: 8px;
	}

	.desire {
		display: flex;
		flex-direction: column;

		@media (max-width: $small) {
			flex-direction: column-reverse;
		}
	}

	.firstKnow {
		margin-top: 140px;
		padding: 0 24px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		@media (max-width: $small) {
			flex-direction: column;
			align-items: center;
			margin-bottom: 47px;
		}

		.leftBlock {
			width: 47%;

			p {
				margin-top: 24px;
				margin-bottom: 28px;
			}

			.h2 {
				font-weight: 700;
				font-size: 24px;
				line-height: 150%;
			}

			@media (max-width: $small) {
				width: 100%;

				.h2 {
					font-size: 16px;
				}

				p {
					font-size: 12px;
				}
			}
		}

		.rightBlock {
			width: 43%;
			position: relative;

			@media (max-width: $small) {
				width: 100%;
			}

			.form {
				position: absolute;
				width: 100%;
				@include flex;

				flex-direction: column-reverse;

				.email,
				.btnSubmit {
					width: 310px;
					height: 64px;
					border-radius: 100px;
					border: none;
					outline: none;
				}

				.btnSubmit {
					background: $bg-gradient-cian;
					color: $color-white;
					margin-top: 12px;
					font-weight: 500;
					font-size: 14px;
					cursor: pointer;

					@media (max-width: $small) {
						width: 272px;
						height: 54px;
						font-size: 12px;
					}
				}

				.btnSubmit:disabled {
					color: $color-grey50;
				}

				.btnSubmit:hover:not(:disabled) {
					background: $bg-gradien-ciant-hover50, $bg-gradien-ciant-hover95;
				}

				.email {
					background: $color-grey25;
					text-align: center;
					font-size: 12px;
					font-weight: 400;
					color: $color-black;

					@media (max-width: $small) {
						width: 272px;
						height: 54px;
					}
				}

				input:-webkit-autofill,
				input:-webkit-autofill:hover,
				input:-webkit-autofill:focus {
					-webkit-text-fill-color: $color-black;
					box-shadow: 0 0 0 0 $color-grey25 inset;
					transition: background-color 5000s ease-in-out 0s;
				}

				.emailError {
					border: 1px solid $color-red;
				}
			}

			.form.unvisible {
				visibility: hidden;
				opacity: 0;
			}

			.checkBox {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				margin-top: 17px;
			}

			#consent {
				opacity: 0;
			}

			.checkBox label::before {
				content: '\2713';
				font-size: 18px;
				text-align: center;
				color: white;
				display: block;
				width: 32px;
				height: 20px;
				margin-right: 11px;
				border: 2px solid $color-grey;
				border-radius: 4px;
				line-height: 90%;

				@media (max-width: $small) {
					width: 20px;
				}
				@media (max-width: $xsmall) {
					width: 22px;
				}
				@media (max-width: 470px) {
					width: 24px;
					height: 18px;
				}
			}

			#consent:checked ~ label::before {
				color: $color-black;
			}

			.label {
				display: flex;
				justify-content: space-between;
				cursor: pointer;

				span {
					display: inline-block;
					font-size: 12px;
					line-height: 165%;

					@media (max-width: $small) {
						font-size: 10px;
						line-height: 150%;
					}
				}
			}

			.successWindow {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			.successWindow.unvisible {
				visibility: hidden;
				opacity: 0;
			}

			.infoHeader {
				font-weight: 700;
				margin: 14px 0 20px;
			}

			.infoSoon {
				max-width: 270px;
				text-align: center;
				line-height: 23.1px;

				@media (max-width: $small) {
					font-size: 12px;
				}
			}
		}

		.privacyPolitikLink {
			color: $color-black;
			text-decoration: underline;
		}
	}

	.developBusnies {
		width: 100%;
		max-width: 988px;
		margin: 0 auto;
		margin-top: 90px;
		padding: 42px 0 50px;
		background: $bg-gradient-purple;
		display: flex;
		justify-content: space-around;
		align-items: center;
		color: $color-white;
		border-radius: 16px;
		line-height: 165%;

		h4 {
			font-weight: 700;
			font-size: 14px;
			line-height: 165%;
		}

		.text {
			max-width: 384px;
			font-weight: 400;
			font-size: 14px;
			line-height: 165%;
		}

		@media (max-width: $small) {
			width: 88%;
			padding-left: 24px;
			padding-right: 24px;
			min-height: 705px;
			flex-direction: column;
			justify-content: flex-end;
			border-radius: 0;
			background: url('../img/uspacy_mobl_bg_3.png') top no-repeat;
			background-size: cover;
			background-position: center;

			h4 {
				font-size: 16px;
				width: 272px;
			}

			.text {
				font-size: 12px;
				width: 272px;
			}
		}

		.partnerProgramm {
			cursor: pointer;
			font-size: 12px;
			font-weight: 400;

			.link {
				display: inline-block;
				max-width: 185px;
				color: $color-white;

				@media (min-width: $small) {
					text-decoration: underline;
				}
			}

			svg path {
				fill: $color-white;
			}

			@media (max-width: $small) {
				width: 272px;
				height: 54px;
				font-size: 12px;
				font-weight: 500;
				text-align: center;
				border: 2px solid $color-white;
				border-radius: 50px;
				display: flex;
				justify-content: center;
				align-items: center;

				a.link {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 100%;
				}

				&:hover {
					background-color: $color-white;

					a {
						color: $color-word-grey25;
					}
				}

				span,
				svg {
					display: none;
				}
			}
		}
	}
}
