$color-white: #ffffff;
$color-cian: #13d9f8;
$color-rosa: #e31da9;
$color-magenta: #4238e5;
$color-magenta10: rgba(66, 56, 229, 0.1);
$color-blue: #0033ff;
$color-deep-blue: #2a18f1;
$color-black: #101010;
$color-grey: #cfd1e8;
$color-grey50: rgba(207, 209, 232, 0.5);
$color-grey25: rgba(207, 209, 232, 0.25);
$color-deep-grey: #979ac7;
$color-yellow: #ffd00d;

$color-overlay: rgba(16, 16, 16, 0.9);

$gradient-blue: linear-gradient(145.98deg, #13d9f8 17.41%, #4238e5 82.58%);
$gradient-purple: linear-gradient(145.98deg, #2a18f1 17.41%, #e31da9 82.58%);
$bg-gradient-blue: linear-gradient(92.84deg, #4841d0 7.14%, #39adf2 93.94%);
$bg-gradient-purple: linear-gradient(92.84deg, #ae5beb 7.14%, #4942d1 93.94%);
$bg-gradient-cian: linear-gradient(91.44deg, #14d8f8 3.03%, #3f45e7 95.4%);

$small: 768px;
$media: 1024px;

@mixin notifyMe {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: inherit;
	outline: none;
	width: 310px;
	height: 64px;
	border: 2px solid $color-white;
	border-radius: 50px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;

	a {
		color: $color-white;
		padding: 17px 40px;
		text-decoration: none;
	}
}

@mixin fw400 {
	font-weight: 400;
	font-size: 14px;
	line-height: 165%;
}

@mixin flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
